<div class="card bg-light">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
        <form #gameForm="ngForm">
            <div class="form-group row">
                <label for="titulo" class="col-form-label col-sm-3">Título</label>
                <div class="col-sm-6">
                    <input name="titulo" type="text" class="form-control" [(ngModel)]="game.titulo" placeholder="Titulo" maxlength="255" required #titulo="ngModel">
                    <!-- Alertas-->
                    <div class="alert alert-danger" *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
                        <!-- Alerta de campo obligatorio-->
                        <div *ngIf="titulo.errors.required">
                            Debe rellenar el campo: Título
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="fechaLanzamiento" class="col-form-label col-sm-3">Fecha Lanzamiento</label>
                <div class="col-sm-6">
                    <input name="fechaLanzamiento" type="date" class="form-control" [(ngModel)]="game.fechaLanzamiento" placeholder="yyyy-mm-dd" required #fechaLanzamiento="ngModel">
                    <!-- Alertas-->
                    <div class="alert alert-danger" *ngIf="fechaLanzamiento.invalid && (fechaLanzamiento.dirty || fechaLanzamiento.touched)">
                        <!-- Alerta de campo obligatorio-->
                        <div *ngIf="fechaLanzamiento.errors.required">
                            Debe rellenar el campo: Fecha Lanzamiento
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="precio" class="col-form-label col-sm-3">Precio</label>
                <div class="col-sm-6">
                    <input name="precio" type="number" min="0" class="form-control" [(ngModel)]="game.precio" required #precio="ngModel">
                    <!-- Alertas-->
                    <div class="alert alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                        <!-- Alerta de campo obligatorio-->
                        <div *ngIf="precio.errors.required">
                            Debe rellenar el campo: Precio
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="pegi" class="col-form-label col-sm-3">Pegi</label>
                <div class="col-sm-6">
                    <input name="pegi" type="number" min="0" max="18" pattern="[0-9]*" class="form-control" [(ngModel)]="game.pegi" required #pegi="ngModel">
                    <!-- Alertas-->
                    <div class="alert alert-danger" *ngIf="pegi.invalid && (pegi.dirty || pegi.touched)">
                        <!-- Alerta de campo obligatorio-->
                        <div *ngIf="pegi.errors.required">
                            Debe rellenar el campo: Pegi
                        </div>
                        <!-- Alerta de pegi solo acepta numeros positivos-->
                        <div *ngIf="pegi.errors.pattern">
                            Pegi debe ser numero positivo
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="categoria" class="col-form-label col-sm-3">Categoria</label>
                <div class="col-sm-6">
                    <select name="categoria" class="form-control" [(ngModel)]="game.categoria" required #categoria="ngModel">
                        <option *ngFor="let categoriaOption of categorias" [ngValue]="categoriaOption.value">
                            {{categoriaOption.title}}
                        </option>
                        <!-- Alertas-->
                        <div class="alert alert-danger" *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)">
                            <!-- Alerta de campo obligatorio-->
                            <div *ngIf="categoria.errors.required">
                                Debe rellenar el campo: Categoria
                            </div>
                        </div>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="companies" class="col-form-label col-sm-3">Compañías</label>
                <div class="col-sm-6">
                    <select name="companies" class="form-control" [compareWith]="compareCompany" [(ngModel)]="game.companies" multiple> 
                        <option *ngFor="let companyOption of companies" [ngValue]="companyOption">
                            {{companyOption.nombre}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-6">
                <button class="btn btn-primary" (click)="create()" *ngIf='!game.idJuego' [disabled]="!gameForm.form.valid">Crear</button>
                <button class="btn btn-primary" (click)="update()" *ngIf='game.idJuego' [disabled]="!gameForm.form.valid">Editar</button>
                <button class="btn btn-secondary ml-2" routerLink="/games" type="button">Cancelar</button>
            </div>
        </form>
    </div>
</div>